<div class="flex justify-center text-sm">
    <div class=" flex flex-col gap-4 bg-[#021526] px-6 py-3 rounded-lg">
            <div class="text-white">
                Enter on a video call with {{neighbourUserId}} ?
            </div>
            <div class="text-xs flex justify-center gap-2">
                <button class="px-4 py-2 bg-[#03346E] text-white rounded-xl hover:scale-110 transition" (click)="close()">No</button>
                <button class="px-4 py-2 bg-[#6EACDA] text-white rounded-xl hover:scale-110 transition" (click)="enterVideoCall()">Yes</button>
            </div>
        </div>
    </div>