<div @slideinout class="bg-[#021526] flex flex-col gap-4 text-sm text-white rounded-lg px-4 py-2">
    <div class="text-sm">
        {{userId}} wants to on a video call with you
    </div>
    <div class="text-xs flex justify-center gap-2">
        <button class="px-4 py-2 bg-[#03346E] text-white rounded-xl hover:scale-110 transition" (click)="close()" >No</button>
        <button class=" px-4 py-2 bg-[#6EACDA] text-white rounded-xl hover:scale-110 transition" (click)="acceptVideoCallRequest()">Yes</button>
    </div>
</div>